@import "flowbite";

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0;
}

* {
  &:focus-visible {
    outline: none;
  }
  font-family: "Nunito", serif;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

::selection {
  background-color: transparent;
}

input::selection {
  background-color: blueviolet;
  color: #fff;
}

.no-border {
  &:focus {
    border: none;
  }
}

.text {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
.bg-image {
  background: url("background.jpg");
}

.bg-image-dark {
  background: url("background-dark.jpg");
}
